		.main{
			height: 700px;
		}
		.flex{
			display: flex;
		}
		.mrgnl1{
			margin-left: 300px;
		}
		.mrgnr{
			margin-right: 300px;
		}
		.header{
			height: 100px;
		}
		.history{
			height: 300px;
			text-align: center;
			width: 700px;
		}
		.logo{
			width: 200px;
			margin-top: 30px;
			margin-left: 40px;
		}
		p{
			margin-left: 100px;
		}
		body{
			font-family: arial;
			width: 1500px;
			color: white;
			background-image:url('3.jpg');
		}
		.content{
			height: 100px;
		}
		a.lol {
			color: #fff;
			user-select: none;
			text-decoration: none;
			outline: none;
			background-color: #cc3366;
			padding: 1em 2em;
		}
		a.lol:active {
			background-color: #ee6206;
		}
		a.lol:hover {
			background-color: #f97f2e;
		}
		.block{
			height: 400px;
		}
		.mrgnl2{
			margin-left: 500px;
		}
		.footer{
			height: 200;
		}
		.mrgnt{
			margin-top: 300px;
		}
		.mrgnlsml{
			margin-left: 75px;
		}
		.main2{
			height: 500px;
		}